$font-stack: Helvetica, sans-serif
$primary-color: #7b47eb
$secondary-color: #601de7
$background-color: #221f1f

html, div, body
  margin: 0px !important
  //padding: 2px 0px 0px 0px !important
  padding: 0px !important
  background: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%)
  overflow: hidden

body
  display: flex
  align-items: flex-end

canvas
  border-right: 6px solid $background-color
  border-left: 6px solid $background-color
