$font-stack: Helvetica, sans-serif
$primary-color: #221f1f

html, div, body
  margin: 0px !important
  //padding: 2px 0px 0px 0px !important
  padding: 0px !important
  background: $primary-color
  overflow: hidden

body
  display: flex
  align-items: flex-end
